<p-dialog [style]="{ width: '25rem' }" [(visible)]="visible" header="New sensor">
    <p-inputgroup class="pt-8">
        <p-inputgroup-addon>
            <lucide-icon class="text-primary" [img]="ALargeSmall" name="alargesmall"></lucide-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="over">
            <input pInputText id="name" [field]="sensorForm.name" />
            <label for="name">Name</label>
        </p-floatlabel>
    </p-inputgroup>

    <p-inputgroup class="pt-8">
        <p-inputgroup-addon>
            <lucide-icon class="text-primary" [img]="Navigation" name="navigation"></lucide-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="over">
            <input pInputText id="location" [field]="sensorForm.location" />
            <label for="location">Location</label>
        </p-floatlabel>
    </p-inputgroup>

    <p-inputgroup class="pt-8">
        <p-inputgroup-addon>
            <lucide-icon class="text-primary" [img]="Rss" name="rss"></lucide-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="over">
            <input pInputText id="ip" [field]="sensorForm.ip" />
            <label for="ip">IP Address</label>
        </p-floatlabel>
    </p-inputgroup>

    <ng-template #footer>
        <p-button variant="outlined" label="Cancel"></p-button>
        <p-button label="Add" (onClick)="handleAddSensor()"></p-button>
    </ng-template>
</p-dialog>