<p-dialog [modal]="true" [style]="{ width: '25rem' }" [(visible)]="visible" header="New sensor">
    <form (submit)="onSubmit($event)" novalidate>
        <input type="submit" hidden />
        <div class="flex flex-col gap-1">
            <p-inputgroup class="pt-8">
                <p-inputgroup-addon>
                    <lucide-icon class="text-primary" [img]="ALargeSmall" name="alargesmall"></lucide-icon>
                </p-inputgroup-addon>
                <p-floatlabel variant="over">
                    <input pInputText id="name" [field]="sensorForm.name" />
                    <label for="name">Name</label>
                </p-floatlabel>

            </p-inputgroup>

            @let name = sensorForm.name();
            @if (name.dirty() && name.errors().length > 0) {
            @for (error of name.errors(); track $index) {
            <p-message size="small" variant="simple" severity="error">
                {{error.message}}
            </p-message>
            }
            }
        </div>
        <div class="flex flex-col gap-1">
            <p-inputgroup class="pt-8">
                <p-inputgroup-addon>
                    <lucide-icon class="text-primary" [img]="Navigation" name="navigation"></lucide-icon>
                </p-inputgroup-addon>
                <p-floatlabel variant="over">
                    <input pInputText id="location" [field]="sensorForm.location" />
                    <label for="location">Location</label>
                </p-floatlabel>
            </p-inputgroup>

            @let location = sensorForm.location();
            @if (location.dirty() && location.errors().length > 0) {
            @for (error of location.errors(); track $index) {
            <p-message size="small" variant="simple" severity="error">
                {{error.message}}
            </p-message>
            }
            }
        </div>

        <div class="flex flex-col gap-1">
            <p-inputgroup class="pt-8">
                <p-inputgroup-addon>
                    <lucide-icon class="text-primary" [img]="Rss" name="rss"></lucide-icon>
                </p-inputgroup-addon>
                <p-floatlabel variant="over">
                    <input pInputText id="ip" [field]="sensorForm.ip" placeholder="127.0.0.1" />
                    <label for="ip">IP Address</label>
                </p-floatlabel>
            </p-inputgroup>

            @let ip = sensorForm.ip();
            @if (ip.dirty() && ip.errors().length > 0) {
            @for (error of ip.errors(); track $index) {
            <p-message size="small" variant="simple" severity="error">
                {{error.message}}
            </p-message>
            }
            }
        </div>

        <div class="flex justify-end gap-2 mt-4">
            <p-button variant="outlined" label="Cancel" (click)="close()"></p-button>
            <p-button label="Add" type="submit"></p-button>
        </div>
    </form>
</p-dialog>