<div class="p-2">
  <p-menubar [model]="items" class="py-1!">
    <ng-template #start>
      <div>
        <a class="flex items-center gap-2" routerLink="/">
          <span class="pi pi-cloud text-primary text-2xl!"></span>
          <h3 class="font-semibold text-primary">AlgaSensors</h3>
        </a>
      </div>
      <p-divider layout="vertical"></p-divider>
    </ng-template>
    <ng-template #end>
      <p-button variant="text" [icon]="isThemeDark() ? 'pi pi-sun' : 'pi pi-moon'" (click)="toggleTheme()" />
    </ng-template>
  </p-menubar>
</div>
<router-outlet />