/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

.p-component {
    color: var(--text-color);
}

.p-card,
.p-dialog,
.p-overlaypanel {
    background: var(--surface-0);
    border-color: var(--border-color);
}

.app-transition,
.app-transition * {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s !important;
}
